<div class="container">
    <div class="header">
        <h1> {{satelliteInfo.name}} Satellite Tracker</h1>
    </div>
    <div>
    <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date & time" [(ngModel)]="myDatePicker" 
        (ngModelChange)="updateDateTime()">
    
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
    
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
    </mat-form-field>
    </div>
</div>

